@font-face {
  font-family: "Bilingual Serif Alternate Font";
  src: url("../fonts/Bilingual Serif Alternate Font Regular.woff2")
      format("woff2"),
    url("../fonts/Bilingual Serif Alternate Font Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: "Bilingual Serif Font";
  src: url("../fonts/Bilingual Serif Font Regular.woff2") format("woff2"),
    url("../fonts/Bilingual Serif Font Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: "SCRIPTKEREN";
  src: url("../fonts/SCRIPTKEREN.woff2") format("woff2"),
    url("../fonts/SCRIPTKEREN.woff") format("woff");
  font-weight: 300200;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00F7;
}

@font-face {
  font-family: 'adelle-sans';
  src: url('../fonts/adelle-sans-regular-webfont.woff2') format('woff2'),
       url('../fonts/bilingual_serif_alternate_font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 2rem;
  font-family: 'adelle-sans';
}

h1,
h2,
h3 {
  font-family: "Bilingual Serif Font";
}

h1 {
  font-size: 2.5rem;
  color: #c11462;
}

h2 {
  font-size: 2.2rem;
  color: #93c683;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.text-left {
  text-align: left;
}

.header__info,
.header__links,
.h__images {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.header__info {
  font-size: 0.7rem;
  justify-content: space-between;
}

.header__links {
  display: none;
  text-align: center;
  line-height: 3rem;
}

.header__links a {
  text-decoration: none;
  color: #00b62f;
}

.header__links .current {
  color: #000;
}

.h__images {
  justify-content: space-between;
}

.h__logo {
  width: 5rem;
}

.svg__burger {
  width: 3rem;
}

.button-top {
  position: fixed;
  right: 5rem;
  bottom: 2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
}

.top-arrow {
  rotate: -90deg;
}

article {
  text-align: center;
  padding-bottom: 2rem;
}

.intro {
  background-color: #fff8e1;
  padding: 1rem;
  padding-top: 0rem;
  text-align: start;
  display: flex;
  flex-wrap: wrap;

  /*check once header is done*/
  margin-top: 2rem;

  padding-bottom: 5rem;
}

article:nth-child(2) {
  padding-top: 5rem;
}

.a__img {
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: -1.6rem;
}

.i__img {
  max-width: 100%;
  padding-bottom: 1rem;
  margin-top: -1.6rem;
}

.i__frostgreen {
  background-color: #dff4d7;
  margin-left: 1rem;
}

.intro h1 {
  padding-top: 2rem;
}

.intro p {
  padding-top: 2rem;
}

.final-p {
  /* 100% for first item*/
  width: 7rem;
  padding-bottom: 2rem;
}

.a--allign {
  padding-left: 1rem;
  padding-right: 1rem;
}

.button {
  border: solid 0.1rem #93c683;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #fff8e1;
}

.button__red {
  border-color: #c11462;
  color: #c11462;
}

.flowers {
  padding-top: 5rem;
}

.flowers-flex {
  justify-content: space-between;
  margin: 2rem;
  width: 25rem;
  
}

.flowers img {
  width: 10rem;
  height: 15rem;
  object-fit: cover;
}

.flowers a {
  font-family: "Bilingual Serif Font";
  text-decoration-color: #ee4f96;
  color: #c11462;
}

.a__green {
  background-color: #00372b;
  color: #d3f4da;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

article img {
  margin-bottom: -1rem;
}

.svg__arrow {
  width: 2rem;
  height: 1rem;
}

.div__info {
  font-size: 0.8rem;
  padding: 1rem;
  background-image: url(/_static/images/svg/green-loop.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.boeket a,
.webshopFlex a {
  font-family: "Bilingual Serif Font";
  text-decoration-color: #ee4f96;
  color: #c11462;
}

.boeket img {
  width: 15rem;
}

.example__images {
  flex-grow: 1;
  justify-content: space-evenly;
}
.example__images img {
  width: 13rem;
  padding-bottom: 2rem;
}

.contact {
  background-color: #00372b;
  color: #d3f4da;
  padding-top: 2rem;
  margin-top: 3rem;
}

.contact__send {
  text-decoration: none;
  color: #fff;
  border: #00b62f solid 0.1rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  position: relative;
  top: 1rem;
}

.contact form {
  margin: 3rem;
  text-transform: uppercase;
}

.contact input,
.contact textarea {
  background-color: #93c683;
  border-radius: 0.4rem;
  border: none;
  padding: 0.6rem;
  width: 100%;
  margin-bottom: 1.2rem;
}

.contact--allign {
  margin: 2rem;
  padding-bottom: 2rem;
}
.contact--allign a {
  color: #00b62f;
  white-space: nowrap;
}

.seasons {
  margin: 1rem;
}

.seasons h2 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.seasons p {
  padding-bottom: 1rem;
}

.seasons img {
  width: 10rem;
}

.seasons figcaption {
  color: #668780;
  font-size: 1rem;
  width: 10rem;
  text-align: center;
}

.fullList {
  display: block;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
}

.basket {
  position: absolute;
  right: 4rem;
  top:  6rem;
}

.basket,
.basket-send,
.add-basket{
  background-color: #00372b;
  color: #fff;
  padding: .5rem;
  border-radius: .7rem;
  text-decoration: none;
}

.add-basket {
  width: 80%;
  display: block;
  text-align: center;
  text-transform: none;
}

.basket-send {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}


.basket:hover,
.basket-send:hover {
  background-color: #00B62F;
  transition: ease .5s;
}

.basket-aside {
  display: none;
}

.basket-top {
  border-bottom: solid .1rem #e6e6e6;
  padding: 1rem;
  justify-content: space-between;
}

.basket-top h2 {
  font-size: 1rem;
}

.fill-basket {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  position: fixed;
  font-size: .8rem;
}

.basket-bottom {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  justify-content: space-between;
  padding: 2rem;
  border-top: solid .1rem #E3E6EB;
}

.basket-bottom div {
  justify-content: space-between;
}

.item {
  margin-top: 2rem;
}

.item img{
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.item__amount {
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
  text-align: center;
  background-color: #FAFAFA;
  border: solid .1rem #E3E6EB;
}

.background-grey {
  background-color: #F4F4F4;
  border-top: solid .1rem #E4E4E4;
}

.checkout-box {
  background-color: #fff;
  border: solid .1rem #E4E4E4;
  margin: .5rem;
}

.checkout-box h2,
.checkout-box__inside {
  font-size: 1rem;
  padding: 1rem;
}

.checkout-box__inside {
  border-top: solid .1rem #E4E4E4;
  text-transform: uppercase;

}

.checkout__input {
  width: 90%;
  margin-right: 10%;
  padding: .5rem;
  margin-bottom: 1rem;
  background-color: #FAFAFA;
  border: solid .1rem #E4E4E4;
}

.box-text-center {
  text-align: center;
}

#webshopLoad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
}

.webshopFlex{
  display: flex;
  flex-wrap: wrap;
  width: 15rem;
  
}

.webshopFlex img{
  width: 15rem;
  padding-right: 1rem;
}

#typeLoader {
  text-align: center;
}

.boeket-width {
  max-width: 30rem;
}

#typeLoader img {
  width: 100%;
}

.div-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.option {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  width: 30rem;
}

.option label {
  width: 100%;
}

.option select,
.option input {
 width: 80%;
 padding: .5rem;
 border: solid .1rem #E4E4E4;
 background-color: #F3F3F3;
}

.option input {
  text-align: center;
  background-color: #fff;
}

.boeket--align {
  margin: 4rem;
}

.boeket--align h2 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}


.Webshop-type-price {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-bottom: solid .1rem;
  color: #668780;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
  background-color: #00372b;
  color: #fff8e1;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1rem;
  padding-bottom: 2rem;
  line-height: 2rem;
}

footer p {
  padding-bottom: 2rem;
}

footer li {
  padding-right: 1rem;
}

footer a {
  color: #fff8e1;
  text-decoration: none;
}

footer a:hover {
  color: #00b62f;
  transition: ease .4s;
}

/* currently only footer*/
footer li:nth-last-child(-n + 2) a {
  text-transform: uppercase;
  color: #93c683;
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__bottom p {
  width: 100%;
  padding-bottom: 1rem;
}

@media (max-width: 20rem) {

}

@media (min-width: 30rem) {
  .header__info {
    justify-content: center;
  }

  .header__info li{
    padding-right: 1rem;
  }

  .header__info li:last-child {
    padding-right: 0rem;
  }

  .i__img {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }

  .flowers-flex {
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    padding-right: 4rem;
  }

  .fill-basket {
    width: 30rem;
    top: 0;
    right: 0;
    box-shadow: 0rem 0rem 0rem 150rem rgba(51, 51, 51, 0.84); 
  }

  #typeLoader img {
    width: 30rem;
  }
  
}

@media (min-width: 45rem) {
  .header__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    font-size: smaller;
    position: relative;
    bottom: .5rem;
  }
  
  .svg__burger {
    display: none;
  }

  .h__logo {
    display: none;
  }

  .intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-left: 2rem;
  }

  .i__img {
    width: 20rem;
  }

  .i__flex-left {
    width: 50%;
  }

  .a__img {
    width: 20rem;
  }

  .art-2,
  .art-1 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
  }

  .art-2 .a--allign {
    width: 50%;
    text-align: left;
  }

  .a__green {
    padding: 4rem;
  }

  .art-1 div:first-child {
    width: 50%;
  }

  .boeket {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 1rem;
  }

  .footer__bottom {
    justify-content: space-between;
  }

  .footer__bottom p {
    width: 25rem;
  }

  .footer__flex p {
    width: 10rem;
  }

  .contact {
    display: flex;
  }

  .contact-flex,
  .contact--allign {
    width: 50%;
  }

  .contact__send {
    right: 5rem;
  }

  .media--allign {
    padding: 3rem;
  }

  .order {
    display: flex;
    justify-content: space-between;
  }

  .order__text {
    text-align: left;
  }

  





}